
body{
    overflow-x:hidden  ;
}


h1 {

    color: rgb(237, 237, 245);
    font-size: 3em;
    text-align:left;
    font-family: sans-serif;
    
}
h2 {background-color: #E1E0DE;}
header{
    background-color:#491f495a ;
    width: 100%;
}
nav ul{
    list-style-type:none;  
}


/* .servicios */
.parallax{
    background-image: url("../assets/img/servicio.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment:fixed;
    height: 80vh ;
}
.servicios {
    display: flex;
    justify-content: center;

}
.articulo{
    display: flex;
    justify-content: center;
    width: 1000px; ;
    background-color:#E1E0DE ;
    height: 60em;
    padding: 100px 100px 100px 100px;
    margin: 1em 1em 1em 1em;
    border: solid rgb(5, 1, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.fondoServicios  {
    background-color: #0c0c0c;
}
.label{
    display: block;

}
.logo{
    
    background-repeat: no-repeat;
    background-position:right center;
    background-size:10%
    background-attachment: fixed;
    height: 10vh ;

}

.footer{
    width:auto ;
    background-color:#0c0c0c ;
    height: 2em;
    padding:2em;
    margin: 1em 1em 1em 1em;
    border: solid black;
    color: antiquewhite;
    font-family: sans-serif;
}


 /* .section-modelos{
     display:flex;
    flex-flow: row wrap ;
    justify-content:space-between;
    align-items: flex-start;
    margin-right: auto;

}  */


/* .grid {
    display: grid ;
    grid-template-columns: 100px 100px ;
    grid-template-rows: 50px 50px 50px ;
  

} */
.flexNav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;  
    
}
/* modelos */
.div1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgrey;
    display: grid;
    grid-template-columns:50% 50% ;
    grid-template-rows: 20% 30% 10% 20%;
    gap: 10px 20px;   
}

.fondo {
    background-color: rgb(146, 159, 162);
}
/* index */
.fondoIndex {
    background-color: #0c0c0c;
}

/* noticias */
.fondoNoticias {
    background-color: #0c0c0c;
}
/* contacto */
.fondoContacto{
    background:gray
}
/* RESPONSIVE */
.sectionAutos {
    display: grid;
    width: 100%;
    height: auto;
}
