
h1 {
    color: rgb(237, 237, 245);
    font-size: 3em;
    text-align:left;
    font-family: sans-serif;
}
h2 {background-color: #E1E0DE;}
header{

    background-color:#491f495a ;
    width: 100%;
}
nav ul{
    list-style-type:none;  
}

.logo{
    
    background-repeat: no-repeat;
    background-position:right center;
    background-size:10%;
    background-attachment:  fixed;
    height: 10vh ;

}

.footer{
    width:auto ;
    background-color:#0c0c0c ;
    height: 2em;
    padding:2em;
    margin: 1em 1em 1em 1em;
    border: solid rgba(245, 244, 244, 0.65);
    color: antiquewhite;
    font-family: sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


/* .servicios */
.parallax{
    background-image: url("../assets/img/servicio.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment:fixed;
    height: 80vh ;
}
@media (min-width: 300px) {
    .parallax{
    width: auto;
    }
}
.servicios{
    display: flex;
    justify-content: center;

}
.articuloTitulo {
    display: flex;
    justify-content: center;
}

.flexNav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;  
}
/* modelos */
.fondoModelos {
    background-image: url(../assets/img/wallpaperbetter.jpg);
    color: #fffafac8;
}
.autoIzq {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

.autoIzq h3 li {
    display: flex;
    justify-content: center;
    
}
.autoIzq h2 {
    background-color:rgba(0, 0, 0, 0);
}
.autoIzq p {
    background-color: rgba(0, 0, 0, 0.019);

}

/* index */
.fondoIndex {
    background-color: #0c0c0c;
}

/* noticias */
.fondoNoticias {
    background-color: white;
}
/* contacto */

.fondoContacto{
    background-image: url(../assets/img/FONDO\ CONTACTO.jpg);
    background-repeat: no-repeat;
    background-size:contain;
 }

.ubicacion {
    display: flex;
    justify-content: center;
}

.mapa{
    display:flex;
    justify-content: center;
}

.bmwService {
    display: flex;
    justify-content: center;
}
@media (min-width: 300px) {
    .fondoContacto{
       width: auto;
    }
}

.form-label {
    color: black;
    font-size: 1.25rem;
    background-color: rgba(255, 255, 255, 0.626);
}