.servicios {
    background-color: #f62c2cd7; 
    display: flex;
    justify-content: center;
    .articulo{
        display:flex;
        justify-content: center;
        width: 100px;
        background-color: darkorange;
        }
        .li {
            background-color: antiquewhite;
            

        }
            }
